
.livestream-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background-color: #000;
  border-radius: 8px;
  overflow: hidden;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
